<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" ngModel name="userName" required>
          </div>
          <button class="btn btn-default" type="button" (click)="suggestUserName()" >Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" id="email" class="form-control" ngModel name="email" required email #email="ngModel">
            <span *ngIf="!email.valid && email.touched" class="help-block">Please enter a valid value!</span>
            <span *ngIf="!userData.valid && userData.touched" class="help-block">User data is invalid</span>
          </div>
        </div>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select
            id="secret"
            class="form-control"
            [ngModel]="defaultQuestion"
            name="secret">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea
            name="questionAnswer"
            rows="10"
            [(ngModel)]="answer"
            class=form-control>
          </textarea>
          <p>Your Replay: {{ answer }}</p>

          <div class="radio" *ngFor="let gender of genders">
            <label>
              <input type="radio" name="gender" ngModel [value]="gender"> {{ gender }}
            </label>
          </div>

        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
      </form>
      <hr>
      <div class="row" *ngIf="submitted" >
        <div class="col-xs-12">
          <h3>Your Data</h3>
          <p>Username: {{ user.userName}}</p>
          <p>Mail: {{ user.email }} </p>
          <p>Secret Question: {{ user.secretQuestion }} </p>
          <p>Answer: {{ user.answer }} </p>
          <p>Gender: {{ user.gender }} </p>
        </div>
      </div>
    </div>
  </div>
</div>
